/*---------------------------------------- page background */

%page-font {font-family: 'PT Sans Narrow', sans-serif;}

/*---------------------------------------- page background */

body {
    height: 100%;
    background: {
        image: url("http://wilakeweather.com/wp-content/uploads/2012/08/cloud-fluffy-lamb.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

/*----------------------------------------placeholders*/

/*page font*/
%page-font {font-family: 'PT Sans Narrow', sans-serif;}

/*header and footer background*/
%page-border {
    width:100%;
    background-color: #343a40;
    color:#fafafa;
    font: {
       weight: bold;
       size: 30px;
    }
    a:hover{text-decoration: none;}
}

/*---------------------------------------- navbar*/
.navbar {
    @extend %page-font;
    @extend %page-border;
    padding: 0;
}

.title-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #fafafa;
}

.title-style {
    @extend %page-border;
    width: 30%;
    padding: 15px 0;
    margin: 0 15px 0 70px;
}

.title-link {
    @extend %page-border; 
    font-size: 25px;
    padding: 0;
    margin: 15px 0 15px 70px;
}

.navbar-toggler-icon {
    @extend %page-border;
    margin: 15px 0;
    margin-left: 0px;
    line-height: 1.5;
}
.navbar-list {
    @media screen and (min-width: 993px) {
       margin: 0 0 0 10%;
        width: 100%; }
}

.nav-item-link {
    padding-top: 8px;
    font-size: 25px;
    width: 20%;
    text-align: center;
    display: inline-block;
    @media screen and (min-width: 993px) {
        width: 18%; 
    }
}

/*---------------------------------------- footer */
   
.page-footer {
    @extend %page-border;
    text-align: center;
    padding: 7px 0;
    font-size: 22px;

/*fix footer to page bottom*/
    position:fixed;
    bottom:0;
    left:0;
        a {color: #fafafa;}
        a:hover {
            color: #f5bf5c;
            transition: ease-in-out 2s;
        }
} 

#linkedIn {
    line-height: 1;
     float: right; 
     margin-top: 2px;
     margin-right: 20px;
     font-size: 25px;
     color: #fafafa;
     opacity: 0.9;
     background-color: #5e94f2;
     padding: 1px 5px 2px 5px;
}

/*---------------------------------------- blog sections */

.blog-section {
    border: solid 2px #f5bf5c;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 7% 10%;
    width: 80%;
    background-color: #fafafa;
    opacity: 0.7;
    text-align: justify;
    padding: 20px 20px 40px 20px;
    @extend %page-font;
    
    h2 {
        margin: 20px 0 40px 0;
        color: #468ef4;
    }
    
    h4 {
        text-align: center;
        color:#f5bf5c;
        margin: 20px 0;
    }

    p {
        margin: 0px;
        padding: 0 10px;
        font-size: 22px;
    }
}

.blog-section-small {
    @extend .blog-section;
    float: left;
    width:40%;
    margin: 0 -1% 7% 7%;
} 
/*---------------------------------------- contact form */

.request-label {
    margin: 1% 0 1% 10%;
    color:#f5bf5c;
    @extend %page-font;
    font: {
        weight:bold;
        size: 22px;
    }
}

.request {
    @extend %page-font;
    height: 30px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    display: block;
    background-color: #aac4e9;
    &::placeholder {
        padding: 5px;
        font-size: 22px;
        color: #fdfdfd;
    }
}

#submit{
  @extend %page-font;
  width: 10%;
  margin-left: 45%;
  margin-top: 2%;
  font-weight: bold;
  background-color: #f5bf5c; 
  border: solid 2px #f5bf5c;
  color: #fafafa;
  font-size: 25px;
}

/*---------------------------------------- images */

.blog-img {
    height: 250px;
    width: 250px;
    float: left;
    margin: 6px 20px 0px 10px;
}

.project-img {
    height: 70%;
    width: 86%;
    display: inline-block;
    margin: 10% 7%;
}

/*---------------------------------------- icons */



.blog-icon {
    font-size: 27px;
    margin-right: 1%;
}

.home-button {
    display: inline-block;
    text-align: right;
    width: 100%;

    a {
    display: inline-block;
    text-decoration: none;
    }
}




/*---------------------------collapsed-class*/

.deactivated{
    display: none;
}